@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Ubuntu&display=swap");

.main {
  padding: 2rem;
  backdrop-filter: blur(10px);
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
  margin: 1rem;
  border-radius: 1rem;
}

.main p {
  font-size: 1.2rem;
  font-family: "Dancing Script", cursive;
  font-family: "Ubuntu", sans-serif;
  color: rgb(134, 120, 120);
  word-spacing: .4rem;
  line-height: 1.7rem;
}

.main h1 {
    color: #283d5f;
}
